<h1><%= @article.title %></h1>

<p>
  <%= @article.text %>
</p>

<%= link_to t('application.edit'), edit_article_path(@article), class: 'btn btn-primary'%>
<%= link_to t('application.back'), articles_path, class: 'btn btn-default' %>